
@font-face {
    font-family: 'Hurme';
    font-weight: 200;
    src: local('Hurme'), url(./assets/fonts/Hurme_Geometric_Sans_No.Font_Family_2/HGSFF/Hurme\ Geometric\ Sans\ No.2/HurmeGeometricSans2\ Black.otf) format('opentype');
}

@font-face {
    font-family: 'HurmeBold';
    font-weight: 800;
    src: local('HurmeBold'), url(./assets/fonts/Hurme_Geometric_Sans_No.Font_Family_2/HGSFF/Hurme\ Geometric\ Sans\ No.2/HurmeGeometricSans2\ Bold.otf) format('opentype');
}

